<div class="content">
  <div class="row">
    <div class="col-3" style="background-color: white;">
      <div class="text-decoration">
        <span class="fa fa-handshake-o fa-2x"> </span> <span class="page-title">Partenaires</span>
      </div>
      <div>
        <label style="font-size: 1.3em; margin-top: 25px; color:#16162D ">Nouveau Partenaire</label>
      </div>


      <!--<app-footer></app-footer>-->


    </div>

    <div class="col-9">
      <div class="row" style="margin-left: 20px">

        <!--Entetes-->
        <div class="roles-menu" style="border: 2px solid {{selectedInfoPartner.color}}; height: 100%; border-radius: 20px;">
          <nav >
            <ul style="border-bottom: 2px solid #16162D; margin: 0px 20px 0px 20px;">
              <li class="edit-account-tab tab-h"  (click)="onClickTab(infoPartner)" *ngFor="let infoPartner of infosPartner" [ngStyle]="{'background-color': positionInfo === infoPartner.position ? infoPartner.color : '#FFFFFF'}">
              <span class="staff-msg">
                <a class="return-button"  [ngStyle]="{'color': positionInfo === infoPartner.position? '#FFFFFF': '#16152D'}">
                  {{infoPartner.description}}
                </a>
              </span>
              </li>
            </ul>
          </nav>

          <div *ngIf="selectedInfoPartner.position === 1">
            <div *ngIf="isfirtTemplate ; then presentationTemplate else contactTemplate"></div>
          </div>

          <div *ngIf="selectedInfoPartner.position === 2">

          </div>

          <div *ngIf="selectedInfoPartner.position === 3">

          </div>

        <!--  <ng-container *ngTemplateOutlet="contactTemplate">
          </ng-container>-->

        </div>

      </div>
    </div>
  </div>
</div>

<!--Zone de saisie des infos sur la présentation-->
<ng-template #presentationTemplate>
  <!--Zone de saisie des informations-->
  <div>
    <label style="font-size: 1.3em; margin-top: 25px; margin-left: 25px ; color: #16162D"> 1. Présentation</label>
  </div>
  <!--Photo-->
  <div>
    <app-edit-profile-image [partner]="partner"></app-edit-profile-image>
  </div>

  <!--saisie des données-->
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6 col-xl-6">
      <!--Raison sociale-->
      <div class="form-group" style="padding: 5px 0px 5px 0px">
        <input type="text" class="form-control" autocomplete="off"  autofocus="" name="name" maxlength="255"
               (keyup)="onKeyupRaisonSociale()"
               [ngClass]="{ 'is-valid': partner.name && partner.name.length >= 3, 'is-invalid': (partner.name && partner.name.length < 3) || (partner.name && partner.name.length > 50 ) ||(submitted && errors.name) }"
               [(ngModel)]="partner.name" style="font-size: small"
               placeholder="Raison sociale" aria-label="Raison sociale" required="required">
        <small class="text-danger" *ngIf="errors.name">{{errors.name}}</small>
      </div>

      <!--SIREN-->
      <div class="form-group" style="padding: 5px 0px 5px 0px">
        <input type="text" class="form-control" autocomplete="off"  autofocus="" name="name" maxlength="255"
               [(ngModel)]="partner.siren" style="font-size: small"
               placeholder="Numéro d'identification (facultatif)" aria-label="SIREN"
               (keyup)="onKeyupSiren()">
      </div>

      <!--Domaines d'activités-->
      <div class="input-group" style="padding: 5px 0px 5px 0px">
        <select class="form-control custom-select" id="selectedDomain" name="selectedDomain"
                (change)="onChangeDomain($event)">
          <option selected disabled>Domaine d'activités</option>
          <option [ngValue]="'Tous'">Tous</option>
          <option [ngValue]="domain" *ngFor="let domain of partnersGeneralInfos.activitiesAreas">{{domain.label}}</option>
        </select>
      </div>

      <!--Pays-->
      <!--<div class="col-12" style="padding: 5px 0px 5px 0px">
        <div class="input-group mb-3">
          <input type="text" [(ngModel)]="siren" style="font-size: small" class="form-control"
                 placeholder="Pays du siège social" aria-label="Pays"
                 aria-describedby="button-addon2" (keyup)="onKeyupCountry()">
        </div>
      </div>-->
      <div class="input-group" style="padding: 5px 0px 5px 0px">
        <select class="form-control custom-select" id="selectedCountry" name="selectedCountry"
                (change)="onChangeCountry($event)">
          <option selected disabled>Pays du siège social</option>
          <option [ngValue]="country" *ngFor="let country of partnersGeneralInfos.countries">{{country.label}}</option>
        </select>
      </div>

      <!--Ville-->
      <div class="form-group" style="padding: 5px 0px 5px 0px">
        <input type="text" class="form-control" autocomplete="off"  autofocus="" name="city" maxlength="255"
               [(ngModel)]="partner.city" style="font-size: small" class="form-control"
               placeholder="Ville du siège social" aria-label="Ville"
               (keyup)="onKeyupCity()">
      </div>

    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xl-6">
      <label>Description de l'activité</label>
      <div class="form-group" style="padding: 5px 0px 5px 0px">
        <input type="text" class="form-control" autocomplete="off"  autofocus="" name="city" maxlength="511"
               [(ngModel)]="partner.description" style="font-size: small" class="form-control"
               placeholder="Description" aria-label="Description"
               (keyup)="onKeyupDescription()">
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-12 col-sm-12 col-xl-12 text-center">
    <button type="button" class="btn btn-primary skillsmates-partner-next-button" style="margin: 15px;" (click)="onClickNext()">Suivant</button>
  </div>
</ng-template>

<!--Zone de saisie des infos sur le contact-->
<ng-template #contactTemplate>
        <!--Zone de saisie des informations-->
        <div>
          <label style="font-size: 1.3em; margin-top: 25px; margin-left: 25px ; color: #16162D"> 2. Contact</label>
        </div>

        <!--saisie des données-->
        <div class="row">
          <div class="col-md-6 col-lg-6 col-sm-6 col-xl-6">
            <!--Site web-->
            <div class="form-group" style="padding: 5px 0px 5px 0px">
              <input type="text" class="form-control" autocomplete="off"  autofocus="" name="website" maxlength="255"
                     (keyup)="onKeyupWebSite()"
                     [ngClass]="{ 'is-valid': partner.website, 'is-invalid': (partner.website && partner.website.length < 3) || (partner.website && partner.website.length > 50 ) ||(submitted && errors.website) }"
                     [(ngModel)]="partner.website" style="font-size: small"
                     placeholder="Site web/blog (facultatif)" aria-label="Site web">
              <small class="text-danger" *ngIf="errors.website">{{errors.website}}</small>
            </div>

            <!--Email-->
            <div class="form-group" style="padding: 5px 0px 5px 0px">
              <input type="text" class="form-control" autocomplete="off"  autofocus="" name="email" maxlength="255"
                     [(ngModel)]="partner.email" style="font-size: small"
                     placeholder="Email" aria-label="Email"
                     (keyup)="onKeyupEmail()">
            </div>

            <!--Téléphone-->
            <div class="form-group" style="padding: 5px 0px 5px 0px">
              <input type="text" class="form-control" autocomplete="off"  autofocus="" name="phoneNumber" maxlength="255"
                     [(ngModel)]="partner.phoneNumber" style="font-size: small" class="form-control"
                     placeholder="Téléphone (facultatif)" aria-label="Phone"
                     (keyup)="onKeyupPhone()">
            </div>
            <div class="form-check">
              <label>Rendre public ?</label>
              <input class="form-check-input" type="radio" id="yes1" name="yes1" value="oui" checked>
              <label class="form-check-label" for="yes1">Oui</label><br>
              <input class="form-check-input" type="radio" id="no1" name="no1" value="no">
              <label class="form-check-label" for="no1">Non</label><br>
            </div>

            <!--Adresse-->
            <div class="form-group" style="padding: 5px 0px 5px 0px">
              <input type="text" class="form-control" autocomplete="off"  autofocus="" name="address" maxlength="255"
                     [(ngModel)]="partner.address" style="font-size: small" class="form-control"
                     placeholder="Adresse" aria-label="Address"
                     (keyup)="onKeyupAddress()">
            </div>
            <div class="form-check">
              <label>Rendre privé ?</label>
              <input class="form-check-input" type="radio" id="yes2" name="yes2" value="oui" checked>
              <label class="form-check-label" for="yes2">Oui</label><br>
              <input class="form-check-input" type="radio" id="no2" name="no2" value="no">
              <label class="form-check-label" for="no2">Non</label><br>
            </div>
            <!--Facebook-->
            <div class="form-group" style="padding: 5px 0px 5px 0px">
              <input type="text" class="form-control" autocomplete="off"  autofocus="" name="facebook" maxlength="255"
                     [(ngModel)]="partner.facebook" style="font-size: small" class="form-control"
                     placeholder="Facebook: pseudo/nom/lien" aria-label="Facebook"
                     (keyup)="onKeyupFacebook()">
            </div>

            <!--Instagram-->
            <div class="form-group" style="padding: 5px 0px 5px 0px">
              <input type="text" class="form-control" autocomplete="off"  autofocus="" name="instagram" maxlength="255"
                     [(ngModel)]="partner.instagram" style="font-size: small" class="form-control"
                     placeholder="Instagram: pseudo/nom/lien" aria-label="Instagram"
                     (keyup)="onKeyupInstagram()">
            </div>

            <!--Tiktok-->
            <div class="form-group" style="padding: 5px 0px 5px 0px">
              <input type="text" class="form-control" autocomplete="off"  autofocus="" name="tiktok" maxlength="255"
                     [(ngModel)]="partner.tiktok" style="font-size: small" class="form-control"
                     placeholder="Tiktok: pseudo/nom/lien" aria-label="Tiktok"
                     (keyup)="onKeyupTiktok()">
            </div>

          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 col-xl-6">

            <!--LinkedIn-->
            <div class="form-group" style="padding: 5px 0px 5px 0px">
              <input type="text" class="form-control" autocomplete="off"  autofocus="" name="linkedin" maxlength="255"
                     [(ngModel)]="partner.linkedin" style="font-size: small" class="form-control"
                     placeholder="LinkedIn: pseudo/nom/lien" aria-label="LinkedIn"
                     (keyup)="onKeyupLinkedIn()">
            </div>

            <!--SnapChat-->
            <div class="form-group" style="padding: 5px 0px 5px 0px">
              <input type="text" class="form-control" autocomplete="off"  autofocus="" name="snapchat" maxlength="255"
                     [(ngModel)]="partner.snapchat" style="font-size: small" class="form-control"
                     placeholder="SnapChat: pseudo/nom/lien" aria-label="SnapChat"
                     (keyup)="onKeyupSnapChat()">
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 col-xl-12 text-center">
          <button type="button" class="btn btn-primary skillsmates-partner-next-button" style="margin: 15px;" (click)="onClickSave()">Enregistrer</button>
        </div>
</ng-template>



