.page-title {
  color: #565656;
  font-size: 2em;
  font-weight: bold;
  margin-left: 10px;
}

.text-decoration {
  border-bottom: 4px solid #565656;
}

nav
{
  display: inline-block;
}
nav ul
{
  padding-top: 25px;
  list-style-type: none;
}
nav li
{
  display: inline-block;
  margin-right: 15px;
  border: 1px solid black;
  border-top-right-radius: 15px 15px;
  border-top-left-radius: 15px 15px;
  padding: 25px;
  cursor: pointer;
}
nav a
{
  font-size: 1em;
  color: #16162D;
  text-decoration: none;
}
/*nav a:hover
{
  background-color: #16162D;

  color: white;
  border-top-right-radius: 15px 15px;
  border-top-left-radius: 15px 15px;
  !*border-bottom: 3px solid #760001;*!
}*/
.skillsmates-partner-next-button{
  border-radius: 6px;
  border: 1px solid #16162d;
  color: #16162d;
  background-color: transparent;
  margin-top: 10px;
  float: right;
}
