<div class="row" style="margin: 0 100px 0 100px; color: #16152d;">
  <div class="col-7" style="margin: auto;">
    <span><a href="#" >A PROPOS</a></span> -
    <span><a href="#" >AIDE</a></span> -
    <span><a href="#" >POLITIQUE DE CONFIDENTIALITE</a></span> -
    <span><a href="#" >CONDITIONS D'UTILISATION</a></span>
  </div>
  <div class="col-5" style="color: #16152d;">
    <a routerLink="/" class="logo">
      <img src="{{'symbole-skills-mates' | image}}" height="35" alt="" style="border-radius: 5px;">
      <span style="font-weight: normal; color: #16152d;">© Skills Mates 2020 </span>
    </a>
  </div>
</div>
