<div class="content">
  <div class="row">
    <div class="col-3" style="background-color: white;">
      <div class="text-decoration">
        <span class="fa fa-handshake-o fa-2x"> </span> <span class="page-title">Partenaires</span>
      </div>

      <!--Catégorie-->
      <div class="col-12" style="padding: 25px 0px 5px 0px">
        <div class="input-group">
          <select class="form-control custom-select" id="selectedCategory" name="selectedCategory"
                  (change)="onChangeCategory($event)">
            <option selected disabled>Catégorie</option>
            <option [ngValue]="'Tous'">Tous</option>
            <option [ngValue]="category" *ngFor="let category of partnersGeneralInfos.categories">{{category.label}}</option>
          </select>
        </div>
      </div>

      <!--Domaines d'activités-->
      <div class="col-12" style="padding: 5px 0px 5px 0px">
        <div class="input-group">
          <select class="form-control custom-select" id="selectedDomain" name="selectedDomain"
                  (change)="onChangeDomain($event)">
            <option selected disabled>Domaine d'activités</option>
            <option [ngValue]="'Tous'">Tous</option>
            <option [ngValue]="domain" *ngFor="let domain of partnersGeneralInfos.activitiesAreas">{{domain.label}}</option>
          </select>
        </div>
      </div>

      <!--Pays-->
      <div class="col-12" style="padding: 5px 0px 5px 0px">
        <div class="input-group">
          <select class="form-control custom-select" id="selectedCountry" name="selectedCountry"
                  (change)="onChangeCountry($event)">
            <option selected disabled>Pays</option>
            <option [ngValue]="'Tous'">Tous</option>
            <option [ngValue]="country" *ngFor="let country of partnersGeneralInfos.countries">{{country.label}}</option>
          </select>
        </div>
      </div>

      <!--Ville-->
      <div class="col-12" style="padding: 5px 0px 5px 0px">
        <div class="input-group mb-3">
          <input type="text" [(ngModel)]="city" style="font-size: small" class="form-control"
                 placeholder="Ville" aria-label="Ville"
                 aria-describedby="button-addon2" (keyup)="onKeyupCity()">
        </div>
      </div>

    </div>

    <div class="col-9">
      <div class="row" style="margin-left: 20px">
        <app-partner-content class="col-4" *ngFor="let partner of partnersGeneralInfos.partners" [partner] = "partner"></app-partner-content>
      </div>
    </div>
  </div>
</div>
