<div class="main-wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <div class="page-wrapper">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
<!--  <app-messagesbox></app-messagesbox>-->
<!--  <app-footer></app-footer>-->
</div>
