.center {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: red;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}

.img-menu-dropdown{
  height: 20px;
}
