<div class="header">
  <div class="header-left">
    <a routerLink="/application/dashboard" class="logo">
      <img src="{{'symbole-skills-mates' | image}}" height="50" alt="Logo skillsmates">
      <span>Skills Mates</span>
    </a>
  </div>
  <a id="toggle_btn" href="javascript:void(0);"><em class="fa fa-bars"></em></a>
  <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><em class="fa fa-bars"></em></a>
  <ul class="nav user-menu float-right">
    <li class="nav-item dropdown d-none d-sm-block">
      <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><em class="fa fa-bell-o"></em> <span class="badge badge-pill bg-danger float-right">3</span></a>
      <app-notifications-box></app-notifications-box>
    </li>
    <li class="nav-item dropdown d-none d-sm-block">
      <a href="javascript:void(0);" id="open_msg_box" class="hasnotifications nav-link"><em class="fa fa-comment-o"></em> <span class="badge badge-pill bg-danger float-right">8</span></a>
    </li>
    <li class="nav-item dropdown has-arrow">
      <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
          <span class="user-img">
              <img class="rounded-circle" src="{{loggedAccount | avatar}}" width="24" alt="Admin">
              <span class="status online"></span>
          </span>
        <span *ngIf="loggedAccount">{{name()}}</span>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item skillsmates-dropdown-menu" (click)="onClickProfileMenu()" [routerLink]="[routes.get('profile.my')]">
          <img src="{{'profile' | image}}" class="img-menu-dropdown" alt=""> Mon profil
        </a>
        <a class="dropdown-item skillsmates-dropdown-menu" (click)="onClickProfileMenu()" [routerLink]="[routes.get('setting.my')]">
          <img src="{{'settings' | image}}" class="img-menu-dropdown" alt=""> Paramètres
        </a>
        <a class="dropdown-item skillsmates-dropdown-menu" (click)="onClickProfileMenu()" [routerLink]="[routes.get('assistance')]">
          <img src="{{'assistance' | image}}" class="img-menu-dropdown" alt=""> Assistance
        </a>
        <a class="dropdown-item skillsmates-dropdown-menu" (click)="onClickProfileMenu()" [routerLink]="[routes.get('logout')]">
          <img src="{{'logout' | image}}" class="img-menu-dropdown" alt=""> Déconnexion
        </a>
      </div>
    </li>
  </ul>
  <div class="dropdown mobile-user-menu float-right">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><em class="fa fa-ellipsis-v"></em></a>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item skillsmates-dropdown-menu" (click)="onClickProfileMenu()" [routerLink]="[routes.get('profile.my')]">
        <img src="{{'profile' | image}}" class="img-menu-dropdown" alt=""> Mon profil
      </a>
      <a class="dropdown-item skillsmates-dropdown-menu" (click)="onClickProfileMenu()" [routerLink]="[routes.get('setting.my')]">
        <img src="{{'settings' | image}}" class="img-menu-dropdown" alt=""> Paramètres
      </a>
      <a class="dropdown-item skillsmates-dropdown-menu" (click)="onClickProfileMenu()" [routerLink]="[routes.get('assistance')]">
        <img src="{{'assistance' | image}}" class="img-menu-dropdown" alt=""> Assistance
      </a>
      <a class="dropdown-item skillsmates-dropdown-menu" (click)="onClickProfileMenu()" [routerLink]="[routes.get('logout')]">
        <img src="{{'logout' | image}}" class="img-menu-dropdown" alt=""> Déconnexion
      </a>.
    </div>
  </div>
</div>
