<app-alert [alert]="alert"></app-alert>
<div class="row">
  <div class="col-12">
    <div class="form-group">
      <label class="skillsmates-label">Version</label>
      <input type="text" class="form-control" autocomplete="off"  autofocus=""  name="version" maxlength="255"
             placeholder="Version" required="required" [(ngModel)]="version" (keyup)="onKeyupVersion()">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <label class="skillsmates-label">Description</label>
  </div>
</div>
<div class="row">
  <div class="col-12" *ngFor="let description of versionDescription.descriptions" style="padding: 5px;">
    <div class="input-group">
      {{description}}
      <button class="btn btn-outline-danger" type="button" (click)="onClickDelete(description)" style="margin-left: 20px;">Supprimer</button>
    </div>
  </div>
  <div class="col-12">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Description" (keyup)="onKeyupDescription()"
             autocomplete="off"  name="description" maxlength="255" [(ngModel)]="description">
      <button class="btn btn-outline-secondary btn-success" type="button" (click)="onClickValidate()">Valider</button>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 20px;">
  <div class="col-12 text-center">
      <span style="cursor: pointer;" (click)="onClickValidateVersion()" class="btn btn-primary float-right btn-rounded">
        <em class="fa fa-check"></em> Valider
      </span>
  </div>
</div>
