.text-decoration {
  border-bottom: 3px solid #565656;
  margin-top: 20px;
}

.text-c1 {
  color: black;
  font-size: 1.2em;
  font-weight: bold;
}

.text-c2 {
  margin-top: 10px;
  font-size: 1em;
}

.text-c3 {
  margin-top: 15px;
  font-size: 0.9em;
  float: right;
}

.avatar-partner {
  background-color: #aaa;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  height: 100%;
  /*line-height: 38px;*/
  margin: 10px 0px 0px 0px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
  position: relative;
  white-space: nowrap;
}
.avatar-partner:hover {
  color: #fff;
}
.avatar-partner > img {
  width: 100%;
  display: block;
}
