<div class="skillsmates-box-shadow">
  <div style="width: 100%; height: 2px; border-bottom: 2px solid #FFFFFF; text-align: center;"></div>
  <div class="row bg-white" *ngIf="!loading" style="margin: 0;">
    <div class="col-12">
      <div class="profile-img" style="margin: auto; padding-bottom: 0; height: 100%; width: 100%">
        <img class="avatar-partner" src="{{partner| avatarPartner}}" alt="" style="border: white solid 2px; " >
        <!--<a [routerLink]="[routes.get('profile.my')]">
          <img class="avatar" src="{{account | avatar}}" alt="" style="border: white solid 2px; margin-top: -10px; z-index: 99;" >
        </a>-->
      </div>
    </div>
  </div>

  <div class="row bg-white" *ngIf="!loading" style="margin: 0; border-radius: 0 0 10px 10px;">
    <div class="col-12">
      <ul class="personal-info ">
        <li class="text-decoration" *ngIf="partner.name">
          <span class="text-c1">{{partner.name}}</span>
        </li>
        <li *ngIf="partner.description" >
          <span class="text-c2">{{partner.description | truncate:150}}</span>
        </li>
        <li class="text-c3">
          <a  href="#">voir plus</a>
        </li>
      </ul>
    </div>

  </div>
</div>
