<div class="dash-widget">
  <span class="{{skillsmatesCard.bgClass}}"><i class="{{skillsmatesCard.icon}}" aria-hidden="true"></i></span>
  <div class="dash-widget-info text-right">
    <h3>{{skillsmatesCard.nb}}</h3>
    <span class="{{skillsmatesCard.titleClass}}">{{skillsmatesCard.title}} <i class="fa fa-check" aria-hidden="true"></i></span>
  </div>
</div>
