
<div class="main-wrapper account-wrapper">
  <div class="account-page">
    <div class="account-center">
      <div class="account-box">
        <app-alert [alert]="alert"></app-alert>
        <form autocomplete="off" class="form-signin">
          <div class="account-logo">
            <a routerLink="/">
              <img src="{{'logo-skillsmates' | image}}" alt="Logo skillsmates">
            </a>
          </div>
          <div class="form-group">
            <input style="border-radius: 6px;" autocomplete="off" type="email" autofocus=""
                   class="form-control"  name="email" placeholder="Email" required
                   (keyup)="keyupEmail()"
                   [ngClass]="{ 'is-valid': validateEmail(email), 'is-invalid': (email && !validateEmail(email)) || (submitted && errors.email) }"
                   [(ngModel)]="email" >
            <small class="text-danger" *ngIf="errors.email && !email">{{errors.email}}</small>
          </div>
          <div class="form-group">
            <input style="border-radius: 6px;" autocomplete="off" type="password"
                   class="form-control"  name="password" placeholder="Mot de passe" required
                   (keyup)="keyupPassword()"
                   [ngClass]="{ 'is-valid': password && password.length >= 5, 'is-invalid': (password && password.length < 5) || (submitted && errors.password) }"
                   [(ngModel)]="password" >
            <small class="text-danger" *ngIf="errors.password && !password">{{errors.password}}</small>
          </div>
          <div class="form-group">
            <label>
              <input type="checkbox"> Memoriser
            </label>
            <label class="text-right" style="float: right">
              <a [routerLink]="[routes.get('resetpassword')]">Mot de passe oublié?</a>
            </label>
          </div>
          <div class="form-group text-center">
            <button *ngIf="!loading" type="submit" class="btn btn-primary sm-border-radius" (click)="onClickLogin()" style="color: #16162d; background-color: #dadada; width: 100%" >Se connecter</button>
            <app-loading [loading]="loading"></app-loading>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
