<div class="content">
  <div class="row">
    <div class="col-sm-4 col-3">
      <h4 class="page-title">Versions</h4>
    </div>
    <div class="col-sm-8 col-9 text-right m-b-20">
      <span style="cursor: pointer;" (click)="onClickAddVersion()" class="btn btn-primary float-right btn-rounded">
        <em class="fa fa-plus"></em> Ajouter une version
      </span>
    </div>
  </div>
  <app-alert [alert]="alert"></app-alert>
  <app-versions-list *ngIf="componentToShow === 'list'"></app-versions-list>
  <app-add-version *ngIf="componentToShow === 'add'" (saveVersionEvent)="onSaveVersionEvent($event)"></app-add-version>
</div>
