<div class="content">
  <div class="row">
    <div class="col-sm-4 col-3">
      <h4 class="page-title">Comptes</h4>
    </div>
    <div class="col-sm-8 col-9 text-right m-b-20">
      <a href="" class="btn btn-primary float-right btn-rounded"><em class="fa fa-plus"></em> créer un compte</a>
    </div>
  </div>
  <div class="row filter-row">
    <div class="col-sm-6 col-md-3">
      <div class="form-group form-focus">
        <label class="focus-label">Nom prénom</label>
        <input type="text" class="form-control floating" name="name" [(ngModel)]="nameSearch" (keyup)="onKeyupSearchAccountName()">
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="form-group form-focus">
        <label class="focus-label">Email</label>
        <input type="text" class="form-control floating" name="email" [(ngModel)]="emailSearch" (keyup)="onKeyupSearchAccountEmail()">
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="form-group form-focus select-focus">
        <label class="focus-label">Role</label>
        <select class="select floating" (change)="onChangeRole($event.target.value)">
          <option>Selectionner un Role</option>
          <option [ngValue]="role" *ngFor="let role of roles">{{role}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <a href="#" class="btn btn-success btn-block"> Rechercher </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped custom-table">
          <thead>
          <tr>
            <th style="min-width:200px;">Nom prénom</th>
            <th>Statut compte</th>
            <th>Statut</th>
            <th>Email</th>
            <th>Adresse</th>
            <th style="min-width: 110px;">Crée le</th>
            <th>Role</th>
            <th class="text-right">Action</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let account of accounts">
              <td>
                <img width="28" height="28" src="{{account | avatar}}" class="rounded-circle" alt=""> <h2>{{name(account)}}</h2>
              </td>
              <td><span *ngIf="account.active" class="custom-badge status-green">Activé</span><span *ngIf="!account.active" class="custom-badge status-red">Desactivé</span></td>
              <td><span *ngIf="account.status">{{account.status.label}}</span></td>
              <td>{{account.email}}</td>
              <td><span *ngIf="account.city">{{account.city}}</span> <span *ngIf="account.country"> - {{account.country.label}}</span></td>
              <td>{{account.createdAt | date: 'dd-MM-yyyy'}}</td>
              <td>
                <span class="custom-badge" [ngClass]="account.role=='ADMIN' ? 'status-green' : 'status-blue'">{{role(account)}}</span>
              </td>
              <td class="text-right">
                <div class="dropdown dropdown-action">
                  <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><em class="fa fa-ellipsis-v"></em></a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#"><em class="fa fa-pencil m-r-5"></em> Modifier</a>
                    <a class="dropdown-item" href="#"><em class="fa fa-pencil m-r-5"></em> Désactiver</a>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_employee"><em class="fa fa-trash-o m-r-5"></em> Supprimer</a>
                  </div>
                </div>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="delete_employee" class="modal fade delete-modal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center">
        <img src="{{'symbole-skills-mates' | image}}" alt="" width="50" height="46">
        <h3>Êtes-vous sûre de vouloir suppimer ce compte?</h3>
        <div>
          <a href="#" class="btn btn-white" data-dismiss="modal">Annuler</a>
          <button type="submit" class="btn btn-danger">Supprimer</button>
        </div>
      </div>
    </div>
  </div>
</div>
