<div class="content">
  <div class="row">
    <div class="col-sm-12">
      <button type="button" class="btn btn-outline-primary" (click)="onClickReturn()">Retour à la liste</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card-box">
        <div class="mailview-content">
          <div class="mailview-header">
            <div class="row">
              <div class="col-sm-9">
                <div class="text-ellipsis m-b-10">
                  <span class="mail-view-title">{{message.topic}}</span>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="mail-view-action">
                  <div class="btn-group">
                    <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="Delete"> <em class="fa fa-trash-o"></em></button>
                    <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="Reply"> <em class="fa fa-reply"></em></button>
                    <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="Forward"> <em class="fa fa-share"></em></button>
                  </div>
                  <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="Print"> <em class="fa fa-print"></em></button>
                </div>
              </div>
            </div>
            <div class="sender-info">
              <div class="sender-img">
                <img width="40" alt="" src="{{ message.account | avatar}}" class="rounded-circle">
              </div>
              <div class="receiver-details float-left">
                <span class="sender-name">{{name(message.account)}} ({{message.account.email}})</span>
                <span class="receiver-name"> à <span>l'équipe skillsmates</span></span>
              </div>
              <div class="mail-sent-time">
                <span class="mail-time">{{message.createdAt | date: 'dd-MM-yyyy HH:mm:ss'}}</span>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="mailview-inner">
            {{message.content}}
          </div>
        </div>
        <div class="mailview-footer">
          <div class="row">
            <div class="col-sm-6 left-action">
              <button type="button" class="btn btn-white"><em class="fa fa-reply"></em> Reply</button>
              <button type="button" class="btn btn-white"><em class="fa fa-share"></em> Forward</button>
            </div>
            <div class="col-sm-6 right-action">
              <button type="button" class="btn btn-white"><em class="fa fa-print"></em> Print</button>
              <button type="button" class="btn btn-white"><em class="fa fa-trash-o"></em> Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
