<div class="row">
  <div class="col">
      <span style="cursor: pointer;" (click)="onClickMigrate()" class="btn btn-primary float-right btn-rounded">
        <em class="fa fa-plus"></em> Migrate subscriptions
      </span>
  </div>
</div>
<app-skillsmates-card [skillsmatesCard]="postCard"></app-skillsmates-card>
