<div class="content">
  <div class="row">
    <div class="col-sm-12">
      <h4 class="page-title">Messages</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card-box">
        <div class="email-header">
          <div class="row">
            <div class="col-sm-10 col-md-8 col-8 top-action-left">
              <div class="float-left">
                <div class="btn-group dropdown-action">
                  <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown">Tri <em class="fa fa-angle-down "></em></button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Tous</a>
                    <a class="dropdown-item" href="#">Aucun</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Lu</a>
                    <a class="dropdown-item" href="#">Non lu</a>
                  </div>
                </div>
                <div class="btn-group dropdown-action">
                  <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown">Actions <em class="fa fa-angle-down "></em></button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Repondre</a>
                    <a class="dropdown-item" href="#">Forward</a>
                    <a class="dropdown-item" href="#">Archiver</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Marqué comme lu</a>
                    <a class="dropdown-item" href="#">Marqué comme non lu</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Supprimer</a>
                  </div>
                </div>
                <div class="btn-group dropdown-action">
                  <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown"><em class="fa fa-folder"></em> <em class="fa fa-angle-down"></em></button>
                  <div role="menu" class="dropdown-menu">
                    <a class="dropdown-item" href="#">Social</a>
                    <a class="dropdown-item" href="#">Forums</a>
                    <a class="dropdown-item" href="#">Mis à jour</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Spam</a>
                    <a class="dropdown-item" href="#">Poubelle</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Nouveau</a>
                  </div>
                </div>
                <div class="btn-group dropdown-action">
                  <button type="button" data-toggle="dropdown" class="btn btn-white dropdown-toggle"><em class="fa fa-tags"></em> <em class="fa fa-angle-down"></em></button>
                  <div role="menu" class="dropdown-menu">
                    <a class="dropdown-item" href="#">Mineur</a>
                    <a class="dropdown-item" href="#">Normal</a>
                    <a class="dropdown-item" href="#">Critique</a>
                  </div>
                </div>
              </div>
              <div class="float-left d-none d-sm-block">
                <input type="text" placeholder="Rechercher Messages" class="form-control search-message">
              </div>
            </div>
            <div class="col-sm-2 col-md-4 col-4 top-action-right">
              <div class="text-right">
                <span class="text-muted d-none d-md-inline-block">Présente 1 sur {{messagesAssistance.length}} </span>
                <button type="button" title="Refresh" data-toggle="tooltip" class="btn btn-white d-none d-md-inline-block"><em class="fa fa-refresh"></em></button>
                <div class="btn-group">
                  <a class="btn btn-white"><em class="fa fa-angle-left"></em></a>
                  <a class="btn btn-white"><em class="fa fa-angle-right"></em></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="email-content">
          <div class="table-responsive">
            <table class="table table-inbox table-hover" >
              <thead>
              <tr>
                <th colspan="6">
                  <input type="checkbox" id="check_all">
                </th>
              </tr>
              </thead>
              <tbody>
              <tr class="unread clickable-row" data-href="mail-view.html" *ngFor="let message of messagesAssistance" (click)="onClickMessage(message)">
                <td>
                  <input type="checkbox" class="checkmail">
                </td>
                <td><span class="mail-important"><em class="fa fa-star starred"></em></span></td>
                <td class="name">{{name(message.account)}}</td>
                <td class="subject">{{message.topic}}</td>
                <td class="mail-date">{{message.createdAt | date: 'dd-MM-yyyy'}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
