 <div class="row">
    <div class="col">
      <div class="accordion" id="accordionExample">

        <div class="card" style="background-color: #DADADA" *ngFor="let versionDescription of versionDescriptions.reverse(); index as i; trackBy:trackByFunc">
          <div class="card-header" role="tab" [ngClass]="versionDescription.accordionClass" (click)="onClickAccordion(i, versionDescription)">
            <h2 class="mb-0">
              <button class="btn btn-link faq-header" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                {{versionDescription.version}}
              </button>
            </h2>
          </div>

          <div *ngIf="versionDescription.showBody">
            <div class="card-body faq-body" *ngFor="let description of versionDescription.descriptions">
              {{description}}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
