<!--<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><i class="fa fa-bell-o"></i> <span class="badge badge-pill bg-danger float-right">3</span></a>-->
<div class="dropdown-menu notifications">
  <div class="topnav-dropdown-header">
    <span>Notifications</span>
  </div>
  <div class="drop-scroll">
    <ul class="notification-list">
      <li class="notification-message">
        <a href="activities.html">
          <div class="media">
            <span class="avatar">
                <img alt="John Doe" src="{{'user' | image}}" class="img-fluid">
            </span>
            <div class="media-body">
              <p class="noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span></p>
              <p class="noti-time"><span class="notification-time">4 mins ago</span></p>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="topnav-dropdown-footer">
    <a href="activities.html">View all Notifications</a>
  </div>
</div>
